<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>16G29</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>C</string>
				<string>c</string>
				<string>H</string>
				<string>h</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>grflic</string>
			<key>CFBundleTypeName</key>
			<string>C Source File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>CC</string>
				<string>cc</string>
				<string>Cc</string>
				<string>CPP</string>
				<string>cpp</string>
				<string>Cpp</string>
				<string>H</string>
				<string>h</string>
				<string>HPP</string>
				<string>hpp</string>
				<string>Hpp</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>grflic</string>
			<key>CFBundleTypeName</key>
			<string>C++ Source File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>JAVA</string>
				<string>java</string>
				<string>Java</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>grflic</string>
			<key>CFBundleTypeName</key>
			<string>Java Source File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ADA</string>
				<string>ada</string>
				<string>Ada</string>
				<string>ADB</string>
				<string>adb</string>
				<string>Adb</string>
				<string>ADS</string>
				<string>ads</string>
				<string>Ads</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>grflic</string>
			<key>CFBundleTypeName</key>
			<string>Ada Source File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>VHDL</string>
				<string>vhdl</string>
				<string>Vhdl</string>
				<string>VHD</string>
				<string>vhd</string>
				<string>Vhd</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>grflic</string>
			<key>CFBundleTypeName</key>
			<string>VHDL Source File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>TXT</string>
				<string>txt</string>
				<string>Txt</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>grflic</string>
			<key>CFBundleTypeName</key>
			<string>Text File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>M</string>
				<string>m</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>grflic</string>
			<key>CFBundleTypeName</key>
			<string>Objective-C Source File</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gpj</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>grflic</string>
			<key>CFBundleTypeName</key>
			<string>jGRASP Project File</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>jcs</string>
	<key>CFBundleGetInfoString</key>
	<string>jGRASP v 2.0.4_03; Copyright 1999-2017 Auburn University</string>
	<key>CFBundleIconFile</key>
	<string>grexic</string>
	<key>CFBundleIdentifier</key>
	<string>jgrasp</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>jGRASP Control Shell</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>jGRASP 2.0.4_03</string>
	<key>CFBundleSignature</key>
	<string>JGRS</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>2.0.4_03</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>8A218a</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>16A300</string>
	<key>DTSDKName</key>
	<string>macosx10.12</string>
	<key>DTXcode</key>
	<string>0800</string>
	<key>DTXcodeBuild</key>
	<string>8A218a</string>
	<key>NSMainNibFile</key>
	<string>jcs.nib</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
